label{
    font-size: large;
}

.register-account-form{
    display: none;
}

.data{
    font-size : 18px;
}

.accounts{
    display: none;
    margin-top: 30px;
}

.details-transaction{
    display: none;
}

#details-display{
    display: none;
}

ul #accounts-info{
    cursor: pointer;
}
.transaction p {
    color: red;
}

#balance-div{
    width: 120px;
    border: 2px solid black;
    padding: 8px 12px;
}