body{
    background: linear-gradient(to left , rgb(93, 95, 88) , rgb(219, 232, 243));
}
label{
    font-size: large;
}

.register-account-form{
    display: none;
}

.data{
    font-size : 18px;
}

.accounts{
    display: none;
    margin-top: 30px;
}

.details-transaction{
    display: none;
}

#details-display{
    display: none;
}

#accounts-info li{
    cursor: pointer;
}
#transaction-warning {
    color: red;
    display: none;
}

#withdraw-warning{
    color: red;
    display: none;
}

#balance-div{
    width: 120px;
    border: 2px solid black;
    padding: 8px 12px;
}

.transaction{
    display: none;
    margin: 30px 0px 0px 30px;
}

